<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	
});


</script>
</head>
<body>
	<div id="aa">
		是日天朗气清，游子驾车以还，纵车急驱，正意气风发，然念离家多年，而今独一人归家，难免些许落寞，时城中女孩，皆妖娆多姿，若盗得一人，甚好哉！
		沉迷间，忽天昏地暗，电闪雷鸣，顷刻风雨飘摇，道路泥泞，寸步难骑；乃徒步之，一步一陷，适才思春之情怀，已然淹没于风雨之中，宛若落汤之鸡，甚是狼狈！
		恍恍惚惚，家已在望，心中豁然开朗，忽念当年离家之时，似娶妻之后。"然吾乃成家之人乎？何忘乎？"。思之，似是家中媳妇样貌丑陋，顿觉归家之欲大减，一步一徘徊，甚是犹豫！
		迷离间，已至家，母甚喜，谓妻于湖边船中，甚是思念。觉多年未归，甚忘之，愧之。至船中，见一女子坐船头，双手持签，穿梭入流，乃毛衣耳!其觉有人至，抬头望之，然四目对接，
		平静如常。观女子神色，似喜似忧，似怨似恨，不知其所思。而观男子神色，心中竟是惊涛骇浪，"此女乃吾妻乎？其行缓而不慢，其貌美而不扬，其神忧而不伤，静若仙子，与城中妖艳之女子直天地之差。吾乃生于福中不知福乎？"
		是时观四目，竟是脉脉含情，却又皆不知从何而言，此时此景，唯如久别之牛郎与织女再相逢方能应景乎！
	</div>
	<a href="../../article/joke/富商的故事.txt">2</a>
</body>
</html>