@CHARSET "UTF-8";
body{
	font-family:楷体;
	font-size:25px;
	font-weight: bold;
	text-shadow: 3px 3px 2px #000000;
	color: #ffd700;
}
a{font-family:楷体;font-size:18px;color:#ffd700;text-shadow: 3px 3px 2px #000000;}
a:link{color:#ffd700}
a:visited{color:#ffd700}
a:hover{color:red}

button{
	background-color:blue;
	font-family:楷体;
	font-size:18px;
	font-weight: bold;
	text-shadow: 3px 3px 2px #000000;
	color: #ffd700;
}
button:hover{
	background-color:lightblue;
}
button:active{
	background-color:black;
}